<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link active" [routerLink]='[""]'>Acceuil </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]='["color"]'>Ex1</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]='["visitCard"]'>Ex2</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" [routerLink]='["third"]'>Ex3</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" [routerLink]='["cv"]'>Ex4</a>
            </li>
        </ul>
    </div>
</nav>