<div class="card-container" style="min-width: 300px;">
    <div class="card" *ngIf="cv.name">
        <div class="front">
            <div class="cover">
                <img src="../../assets/images/back.jpg" />
            </div>
            <div class="user">
                <img class="img-circle" src={{cv.path|defaultImage}} />
            </div>
            <div class="content">
                <div class="main">
                    <h3 class="name">{{cv.name}} {{cv.firstname}}</h3>
                    <p class="profession">{{cv.job}}</p>

                    <p class="text-center">
                        {{cv.age}}
                    </p>
                </div>
                <div class="footer">
                    <div class="rating">
                        <i class="fa fa-mail-forward"></i> Auto Rotation
                    </div>
                </div>
            </div>
        </div>
        <!-- end front panel -->
        <div class="back">
            <div class="header">
                <h5 class="motto">"{{cv.cin}}"</h5>
            </div>
            <div class="content">
                <div style="display: flex;align-items:center;justify-content: center;flex-direction: column;" class="main">
                    <h4 class="text-center">Person Description</h4>
                    <button (click)="ajouterEmbauche()" style="color: white;font-weight: bold;" type="button" class="btn btn-info">Embaucher</button>
                    <button (click)="more()" style="color: white;font-weight: bold;" type="button" class="btn btn-primary">Plus</button>

                    <div class="stats-container">
                        <div class="stats">

                            <h4>235</h4>
                            <p>
                                Followers
                            </p>
                        </div>
                        <div class="stats">
                            <h4>114</h4>
                            <p>
                                Following
                            </p>
                        </div>
                        <div class="stats">
                            <h4>35</h4>
                            <p>
                                Projects
                            </p>
                        </div>
                    </div>

                </div>
            </div>
            <div class="footer">
                <div class="social-links text-center">
                    <a href="https://www.linkedin.com/in/nawres-ncib/" class="facebook"><i
                            class="fa fa-facebook fa-fw"></i></a>
                    <a href="https://www.linkedin.com/in/nadine-boukadida-a39970206/" class="google"><i
                            class="fa fa-google-plus fa-fw"></i></a>
                    <a href="https://www.linkedin.com/in/taherjerbi/" class="twitter"><i
                            class="fa fa-twitter fa-fw"></i></a>
                </div>
            </div>
        </div>
        <!-- end back panel -->
    </div>
    <!-- end card -->
</div>
<!-- end card-container -->