.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
    gap: 50px;
}

.color {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    border: 1px purple solid;
    color: white;
    font-size: 20px;
    padding: 50px;
}